<% include ../../partials/header %>
    <div class="container">
        <div class="panel panel-primary text-center">
            <div class="panel-heading">
                <h3>Edit <%=channel.channelName%></h3>
            </div>
            <div class="panel-body">
                <h5>This page is used to Edit an Existing Channel info</h5>
            </div>
        </div>

    
        <form action="/channels/<%=channel._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Channel Name</label>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" type="text" name="channel[channelName]" value="<%=channel.channelName%>">
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Programmer</label></div>
                    <div class="panel-body">
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Aastha"><label>Aastha &nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Al Jazeera"><label>Al Jazeera&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="ARY (ARY Digital )"><label>ARY (ARY Digital )&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Asia TV USA"><label>Asia TV USA&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="ATN"><label>ATN&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="B4U"><label>B4U&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="beIN"><label>beIN&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Bennett, Coleman & co"><label>Bennett, Coleman & co&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Dream"><label>Dream&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Future"><label>Future&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="GEO"><label>GEO&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Globosat"><label>Globosat&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Hum Network"><label>Hum Network&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="IMD"><label>IMD&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Impress Telefilm"><label>Impress Telefilm&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="MBC FZ"><label>MBC FZ&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="MSM (MSM Asia)"><label>MSM (MSM Asia)&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="National Communication Services"><label>National Communication Services&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="NDTV"><label>NDTV&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Reliance"><label>Reliance&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="SAFE (Asia Star Broadcasting )"><label>SAFE (Asia Star Broadcasting )&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Soundview Broadcasting"><label>Soundview Broadcasting&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Star"><label>Star&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="TV Today"><label>TV Today&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="TV5 USA"><label>TV5 USA&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Ushodaya Enterprises"><label>Ushodaya Enterprises&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Viacom"><label>Viacom&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="Willow"><label>Willow&nbsp;&nbsp;</label>
                        <input class="radio-inline" type="radio" name="channel[programmer]" value="World Span Media"><label>World Span Media&nbsp;&nbsp;</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h5><strong>Current Logo. Please update logo link is logo is not correct</strong></h5>
                        <label>Logo Link</label>
                    </div>
                    <div class="panel-body">
                        <img src="<%= channel.logo %>" >
                        <input class="form-control" type="text" name="channel[logo]" value="<%= channel.logo %>">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5>Do we have POA</h5>
                    </div>
                    <div class="panel-body">
                        <input class="radio-inline" type="radio" name="channel[poa]" value="true">Yes</label>
                        <input class="radio-inline" type="radio" name="channel[poa]" value="false">No</label>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5>Language Group</h5>
                    </div>
                    <div class="panel-body">
                        <input class="radio-inline" type="radio" name="channel[language]" value="arabic">ARABIC</label>
                        <input class="radio-inline" type="radio" name="channel[language]" value="bangla">BANGLA</label>
                        <input class="radio-inline" type="radio" name="channel[language]" value="urdu">URDU</label>
                        <input class="radio-inline" type="radio" name="channel[language]" value="french">FRENCH</label>
                        <input class="radio-inline" type="radio" name="channel[language]" value="hindi">HINDI</label>  
                    </div>
                </div>
            </div>
                    
            <div  class="form-group">
                <input class="form-control btn btn-info" type="submit" >
            </div>
        </form>
    </div>

<% include ../../partials/footer %>